@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #302f2f;
    font-family: "Roboto";
}
/* this is kinda sketch but ok */
#splash {
    position: absolute;
    top: 0%; 
    left: 55vw;
    transform: translate(-50%, -50%);
    z-index: 2;
    color:#fFff00;
    animation: splash 2.5s infinite;
}

.servername {
    text-align: center;
    z-index: 1;
}
div {
    background-color: #3f3f3f;
    color: white;
}

li {
    list-style-type: decimal;
    
}

li div {
    padding-left: 20px;
}
@keyframes splash {
    0%, 100% {
        transform: scale(1) rotate(-15deg);
    }
    50% {
        transform: scale(1.1) rotate(-15deg);
    }
}